@import url("https://use.typekit.net/rsi3heu.css");


@font-face {
  font-family: "poppins";
  src: url(../fonts/poppins.ttf);
}

@font-face {
  font-family: "brush";
  src: url(../fonts/brush.ttf);
}

$red: #F52B50;

::selection {
  background-color: black !important;
  color: $red;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $red;
  margin: 0;
  font-family: utopia-std-headline;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
  transition: 0.3s ease-out;
  color: white;
}

a:hover {
  color: #121212 !important;
  transition: 0.3s ease-out
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 64px;
}
p {
  font-size: 18px;
  font-family: utopia-std-subhead;
  line-height: 1.8em;
}
button {
  padding: 15px 30px;
  background-color: $red;
  color: white;
  border: none;
  font-size: 22px;
  font-family: utopia-std-subhead;
  font-style: italic;
  margin-top: 15px;
}
.button-black {
  background-color: black;
}



@media only screen and (min-width: 800px) {
  .hide-on-desktop {
    display: none;
  }
  .nav-m-container {
    display: none;
  }

  .nav {
    position: absolute;
    width: 100%;
    z-index: 100000 !important;
  }


 


  .nav-links-desktop {
    position: fixed !important;
    width: 100%;
    display: flex;
    padding: 0 50px;
    top: 5%;
    left: 0;
  }

  .nav-links-desktop div {
    color: white;
    font-size: 1.5em;
    width: 50%;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  .nav-links-desktop div a {
    color: white;
  }







  .logo-svg {
    position: fixed;
    width: 15%;
    top: 45%;
    left: 42.5%;
  }

  svg g path {
    transition: 0.3s ease-out
  }

  .logo-svg:hover svg g path {
    fill: #121212 !important;
    transition: 0.3s ease-out;
  }

  .logo-svg:hover {
    cursor: pointer;
  }

  footer {
    width: 100%;
    margin: 0;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    color: $red;
    position: fixed;
  }

  .footer-text,
  .footer-links {
    color: $red !important;
    font-family: poppins;
    font-weight: 100;
    width: 40%;
    display: flex;
    align-items: flex-end;
    border-top: 2px solid $red;


    &:last-child {
      justify-content: flex-end;
    }
  }

  .footer-links a {
    padding: 0 5px;
    margin: 0 5px;
    color: $red

  }

  #connect {
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    font-family: poppins;
    font-size: 16px;
    line-height: 1.5em;
    background-color: white;

    &:hover {
      color: #121212;
      transition: 0.3s;
    }
  }

  .footer-connect {
    padding: 0 10px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    transition: 0.5s ease-in;
  }

  .open {
    transform: translateY(0);
    transition: 0.3s cubic-bezier(0.1, 0.2, 0.4, 0.8);
  }

  #connect-box {
    text-align: left;
    opacity: 0;
    bottom: -70px;
    left: 10px;
    margin: 0;
    transition: 0.3s cubic-bezier(0.1, 0.2, 0.4, 0.8);
    transform: translateY(-40%);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    cursor: default;
  }

  #connect-box a {
    margin: 0;
    padding: 0;
  }

  .connect-box-open {
    pointer-events: all !important;
    cursor: pointer !important;
    opacity: 1 !important;
    transition: 0.5s cubic-bezier(0.1, 0.2, 0.4, 0.8);
    transform: translateY(0%) !important;
  }

  .progress-bar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 3px;
    background-color: $red;
    &-bar {
      position: relative;
      width: 50%;
      background-color: white;
      height: 3px;
    }
  }

  /* HOME */


  .landing {
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    position: fixed !important;
  }

  .section-home {
    &-2, &-3, &-4, &-5, &-6 {
      position: fixed;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 5vh;
      color: white;
      z-index: 2;
    }
    &-2 {
      background-image: url(/img/ice.jpg);
      background-position: center;
      background-size: cover;
      z-index: 10;
      height: 100%;
      & div {
        height: 100%;
        width: 100vw;
        padding: 0 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.2);
      }
    }
    &-3 {
      background-image: none;
      background-color: #060606;
      font-size: inherit;
      display: flex;
      justify-content: start;
      padding: 0 200px;
      width: 100%;
      height: 100%;
      z-index: 9;
      & .three-text {
        max-width: 900px;
        text-align: left;
        & h3 {
          margin-bottom: 20px;
        }
        & p {
          width: 80%;
        }
      }
      & .three-svg {
        position: absolute;
        right: 20px;
      }
    }
    &-4 {
      background-image: url("/img/POINT.jpg");
      background-size: 160%;
      background-position: right 0px bottom 80%;
      font-size: inherit;
      display: flex;
      justify-content: end;
      padding-left: 200px;
      width: 100%;
      z-index: 8;
      & .four-text {
        padding-right: 200px;
        z-index: 2;
        max-width: 900px;
        text-align: right;
        & h3 {
          margin-bottom: 20px;
        }
        & p {
          width: 80%;
          margin-left: 20%;
        }
      }
      & .four-overlay {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.5);
      }
    }
    &-5 {
      background-image: url("/img/earth.jpg");
      background-size: 160%;
      background-position: left 50% top 30%;
      font-size: inherit;
      display: flex;
      justify-content: start;
      padding-right: 200px;
      width: 100%;
      z-index: 7;
      & .five-text {
        color: black;
        padding-left: 200px;
        z-index: 2;
        max-width: 900px;
        text-align: left;
        & h3 {
          margin-bottom: 20px;
        }
        & p {
        }
      }
      & .five-overlay {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0);
      }
    }
    &-6 {
      background-image: none;
      background-color: $red;
      font-size: inherit;
      display: flex;
      justify-content: center;
      height: 60vh;
      padding: 0 200px;
      width: 100%;
      z-index: 6;
      & .six-text {
        color: white;
        z-index: 2;
        max-width: 750px;
        text-align: center;
        justify-content: center;
        & h3 {
          margin-bottom: 20px;
        }
        & p {
          width: 80%;
          margin-left: 10%;
        }
      }
    }

  }


}